<footer>
  <p>Copyright © 2025 <strong>&nbsp;Shawndhar&nbsp; </strong> All Rights Reserved</p>
  <div class="social-icons">
    <a href="https://github.com/ShawndharSrt" target="_blank" aria-label="GitHub">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/shawndhar" target="_blank" aria-label="LinkedIn">
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </a>
    <a href="mailto:b.p.shawndharsrt10@gmail.com" aria-label="Email">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </a>
    <a href="https://x.com/Shawndhar1" target="_blank" aria-label="Twitter">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
    <a href="https://wa.me/6382123904?text=Hi!%20I%20saw%20your%20portfolio%20and%20would%20like%20to%20connect!" target="_blank" aria-label="Twitter">
      <fa-icon [icon]="faWhatsapp"></fa-icon>
    </a>
  </div>
</footer>