<footer>
  <p>Copyright © 2025 <strong>&nbsp;Shawndhar&nbsp; </strong> All Rights Reserved</p>
  <div class="social-icons">
    <a href="https://github.com/yourusername" target="_blank" aria-label="GitHub">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="www.linkedin.com/in/shawndhar" target="_blank" aria-label="LinkedIn">
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </a>
    <a href="mailto:youremail@example.com" aria-label="Email">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </a>
    <a href="https://twitter.com/yourusername" target="_blank" aria-label="Twitter">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
    <a href="https://twitter.com/yourusername" target="_blank" aria-label="Twitter">
      <fa-icon [icon]="faWhatsapp"></fa-icon>
    </a>
  </div>
</footer>