<app-loader></app-loader>
<section class="resume-section" id="resume">
  <div class="section-header-with-button" [@fadeSlideIn]>
    <div class="section-header">
      <h2 class="section-title">{{ sectionTitle }}</h2>
      <p class="section-subtitle">{{ sectionSubtitle }}</p>
    </div>

    <div class="download-button">
      <button (click)="downloadResume()" class="btn-download">
        <fa-icon [icon]="faDownload"></fa-icon> Download Resume
      </button>
    </div>
  </div>


  <div class="resume-container">
    <div class="resume-left">
      <!-- Summary -->
      <div class="resume-box" [@fadeSlideIn]>
        <h3 class="resume-heading">SUMMARY</h3>
        <h4 class="resume-title">{{ summary.name }}</h4>
        <p class="resume-subtitle">{{ summary.description }}</p>
        <ul class="resume-list">
          <li *ngFor="let detail of summary.details">
            {{ detail.text }}
          </li>
        </ul>
      </div>

      <!-- Education -->
      <div class="resume-box" [@fadeSlideIn]>
        <h3 class="resume-heading">EDUCATION</h3>
        <div class="resume-item" *ngFor="let edu of education">
          <h4 class="resume-title">{{ edu.degree }}</h4>
          <p class="resume-subtitle">{{ edu.period }}</p>
          <p class="resume-place">{{ edu.place }}</p>
          <p class="resume-desc" [innerHTML]="edu.description"></p>
        </div>
      </div>
    </div>

    <div class="resume-right">
      <!-- Experience -->
      <div class="resume-box" [@fadeSlideIn]>
        <h3 class="resume-heading">WORK EXPERIENCE</h3>
        <div class="resume-item" *ngFor="let job of experience">
          <h4 class="resume-title">{{ job.role }}</h4>
          <p class="resume-subtitle">{{ job.period }}</p>
          <p class="resume-place">{{ job.place }}</p>
          <ul class="resume-list">
            <li *ngFor="let point of job.responsibilities">{{ point }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>